var SmartShoe = function(size, colour, type) {
  this.size    = size;
  this.colour  = colour;
  this.type    = type;
  // things never arrive with full battery power ;)
  this.battery = 20;
}

// define a prototype (~instance) method
SmartShoe.prototype.recharge = function(powerIncrease) {
  this.battery += powerIncrease;
  if (this.battery > 100) {
    this.battery = 100;
  }
}

// create a new object called `nikeShoe` with the SmartShoe constructor
var nikeShoe = new SmartShoe(10, 'gray', 'sport edition');
// we call the prototype method recharge
nikeShoe.recharge(50);